<h1>Danish theme parks</h1>
<p>Select a theme park to check out its geographical location!</p>

<p *ngIf="!themeParks">Loading...</p>
<div *ngIf="themeParks">
    <ul>
        <li style="cursor: pointer;" *ngFor="let themePark of themeParks" (click)="showThemePark(themePark)">
            {{themePark.themeParkName}}
        </li>
    </ul>

    <p>{{selectedThemeParkName}}</p>
    <p>{{selectedLatitude}}</p>
    <p>{{selectedLongitude}}</p>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <!-- <agm-map [latitude]="selectedLatitude" [longitude]="selectedLongitude">
        <agm-marker [latitude]="selectedLatitude" [longitude]="selectedLongitude"></agm-marker>
    </agm-map> -->
</div>
